.Off{
    @apply w-[1400px] mx-auto my-20 h-[300px] flex justify-center items-center rounded px-4 py-6 relative;
    background: url("../../Assets/Imgs/Food/Frame.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.Off_Header{
    width: 1400px !important;
    margin: 0 auto;
    @apply font-bold font-["Lalezar"] my-3
}
.swiper {
    width: 100%;
    height: 100%;
    @apply flex justify-center items-center;
  }
  
  .Off_Slider{
    text-align: center;
    font-size: 18px;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Off_Slider .swiper-button-prev  ,  .Off_Slider  .swiper-button-next {
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px) ;
    @apply bg-[darkred]/40 text-white w-10 h-10 rounded-full absolute
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
   @apply text-white  text-[18px] 
  }