@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "Vazir";
    font-weight: bold;
    src: url("./Assets/Fonts/Vazir-Bold.eot");
  }
  @font-face {
    font-family: Lalezar;
    src: url("./Assets/Fonts/Lalezar-Regular.ttf");
  }
}
@font-face {
  font-family: Vazir;
  font-weight: bold;
  src: url("./Assets/Fonts/Vazir-Bold.eot");
}
@font-face {
  font-family: Vazir;
  font-weight: 500;
  src: url("./Assets/Fonts/Vazir-Medium.eot");
}
@font-face {
  font-family: Vazir;
  font-weight: 300;
  src: url("./Assets/Fonts/Vazir-Light.eot");
}
@font-face {
  font-family: Lalezar;
  src: url("./Assets/Fonts/Lalezar-Regular.ttf");
}

:root {
  --HColor: #fff;
  --BgColor: #a90e06;
  --Color: #fff7;
}
.Continer {
  width: 1400px;
  @apply mx-auto;
}
body {
  @apply bg-[##F4F4F4];
}
